    <!-- Header Section -->
    <header>
        <!-- Top Banner -->
        <div class="top-banner">
        <div class="container pt-5">
            <img src="../images/logo.png" alt="" class="logo-img logo" >
        </div>
        </div>
        <!-- navbar section start -->
        <section>
        <!-- Navigation -->
        <nav class="navbar  navbar-expand-lg nav-blue-bg">
        <div class="container">
            <!-- Mobile Toggle -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                <span class="navbar-toggler-icon" style="filter: brightness(0) invert(1);"></span>
            </button>
            <!-- Navbar Content -->
            <div class="collapse  navbar-collapse" id="navbarContent">
                <!-- Navigation Links -->
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="../html/home.html">Home</a>
                    </li>
                    <!-- Jobs Dropdown (like Services) -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Jobs
                        </a>
                        <ul class="dropdown-menu text-white menu-box">
                            <li><a class="dropdown-item" href="/best.af/pages/Jobs.html">Create Resume CV</a></li>
                            <li><a class="dropdown-item " href="/best.af/pages/Companies.html">Compainse</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../html/scholarship.html">Scholarship</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../html/onlineC.html">Online Course</a>
                    </li>
                    <!-- Services Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Services
                        </a>
                        <ul class="dropdown-menu menu-box">
                            <div class="item">
                                <li><a class="dropdown-item" href="/best.af/pages/services/AdvertiseWithUs.html">Advertise With Us</a></li>
                                <li><a class="dropdown-item" href="/best.af/pages/services/StaffOutsourcing.html">Staff Outsourcing</a></li>
                                <li><a class="dropdown-item" href="/best.af/pages/services/CvBank.html">CV Bank</a></li>
                                <li><a class="dropdown-item" href="">RFQ/RFP</a></li>

                            </div>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/best.af/pages/AboutUs.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../html/Contact.html">Contact Us</a>
                    </li>
                </ul>
                <!-- Search and Social Icons -->
                <div class="d-flex align-items ms-4">
                    <!-- Social Icons -->
                    <div class="social-icons">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-youtube"></i></a>
                    </div>
                     <!-- Search Icon (styled like social icons) -->
                    <button class="search-icon-btn ">
                        <i class="bi bi-search "></i>
                    </button>
                </div>
            </div>
        </div>
        </nav>
        <!-- navbar section End -->
    </header>
    <!-- Header Section End -->
     