
<header>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top">
    <!-- Logo -->
            <a class=" navbar-brand " href="../html/home.html">
                    <!-- <img src="/assets/images/best.logo.png" alt="BEST.af" height="40px" width="100px"> -->
                  <h4 class="text-danger ms-5">BEST.af</h4>              
                </a>
        <div class="container">
            <!-- Mobile Toggle -->
            <button class="navbar-toggler  bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar Content -->
            <div class="collapse navbar-collapse" id="navbarContent">
                <!-- Navigation Links -->
                <ul class="navbar-nav me-auto me-5 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="../pages/home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/Jobs.html">Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/Companies.html">Companies</a>
                    </li>
                    <!-- Services Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Services
                        </a>
                        <ul class="dropdown-menu menu-box mt-4">
                            <div class="item">
                                <li><a class="dropdown-item" href="../pages/services/AdvertiseWithUs.html">Advertise With Us</a></li>
                                <li><a class="dropdown-item" href="../pages/services/StaffOutsourcing.html">Staff Outsourcing</a></li>
                                <li><a class="dropdown-item" href="../pages/services/CvBank.html">CV Bank</a></li>
                              
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/blog.html">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/Contact.html">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/AboutUs.html">About Us</a>
                    </li>
                </ul>
                <!-- User Actions -->
                <div class="d-flex">
                    <a href="../pages/Login.html" class="btn btn-outline-danger me-2 ">Login</a>
                    
                    <!-- Register Dropdown -->
                    <div class="dropdown">
                        <button class="btn btn-danger dropdown-toggle " type="button" id="registerDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Register
                        </button>
                        <ul class="dropdown-menu  dropdown-menu-end mt-4" aria-labelledby="registerDropdown">
                            <li><a class="dropdown-item" href="../pages/Register/job.html">Job Seeker</a></li>
                            <li><a class="dropdown-item" href="../pages/Register/Employer.html">Employer</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- navbar section End -->
</header>

